@model CreateTripPlanDto
@{
    Layout = "~/Views/Admin/Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Yeni Plan Ekleme Formu</h5>

        <form method="post">
            <!-- Başlık -->
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Başlık</label>
                <input type="text" asp-for="Title" class="form-control" placeholder="Örn: İstanbul Gezi Planı" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <!-- Açıklama -->
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Açıklama</label>
                <textarea asp-for="Description" class="form-control" rows="3" placeholder="Örn: İstanbul’da 3 günlük kültür ve tarih gezisi..."></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <!-- Image URL -->
            <div class="mb-3">
                <label asp-for="ImageUrl" class="form-label">Image URL</label>
                <input type="text" asp-for="ImageUrl" class="form-control" id="imageUrlInput" placeholder="Örn: /images/icons/istanbul.png" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <!-- Önizleme -->
            <div class="mb-3 text-center">
                <img id="imagePreview" src="" alt="Image Önizleme" style="max-width:100px; display:none;" class="border rounded p-2" />
            </div>

            <!-- Submit -->
            <button type="submit" class="btn btn-success">Plan Ekle</button>
            <a asp-action="TripPlanList" asp-controller="TripPlan" class="btn btn-danger">İptal ET </a>
        </form>
    </div>
</div>

    <script>
        document.getElementById("imageUrlInput").addEventListener("input", function () {
            var url = this.value;
            var preview = document.getElementById("imagePreview");
            if (url && url.trim() !== "") {
                preview.src = url;
                preview.style.display = "inline-block";
            } else {
                preview.style.display = "none";
            }
        });
    </script>
